<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />

</head>
<body>

  <div id="addData">
    <p id="agregar">AGREGAR</p>
   
      <p class="newData">NOMBRE</p>
      <input type="text" class="enterData newData">
      <p class="newData">IMAGEN</p>
      <input type="text" class="enterImg newData">
      <button data-id="add" id="add">ENVIAR</button>
  </div>

 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>