

body {
  display: flex;
  justify-content: center;
  margin-top: 100px;

#addData {
  border: 1px solid darkblue;
  width: 800px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  //position: fixed;
  
  #agregar {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;    
  }

  //.inputs {
   // display: flex;
   //text-align: center;
   //display: flex;
   //flex-direction: column;

  input {
    border-radius: 5px;
    border: 1px solid darkblue;
    font-family: 'Crimson Text', serif;
    color: darkblue;
    display: block;
   // margin: 5px;
  }

  #add {
    border: none;
    background-color: darkblue;
    font-weight: bold;
    font-family: 'Crimson Text', serif;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 15px;
  }

  #add:hover {
    background-color: darkcyan;
    border: none;

  }
}
}


#main-container {
 display: flex;
 flex-direction: column;
 align-items: center;


  #mainTitle {
    font-size: 40px;
     color: darkblue;
     font-family: 'Crimson Text', serif;;
  }
 
  .info {
    //text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkblue;
    margin: 10px;
    width: 600px;
    height: 80px;
    border-radius: 5px;
    
    .icon {
      height: 64px;
      width: 47px;
      margin: 5px;
     }

  .titles {
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    color: darkblue;
    }
    .likes {
      font-family: 'Crimson Text', serif;
      color: blue;
      font-size: 25px;
      margin-left: 15px;
    }
  }
  .image {
    width: 600px;
    margin: 10px;
    border-radius: 5px;
  }
}
